<ul ngbNav #navFilled="ngbNav" class="nav-tabs nav-fill">
  <li ngbNavItem>
    <a ngbNavLink>Dress</a>
    <ng-template ngbNavContent>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <app-content-header [contentHeader]="contentHeader"></app-content-header>

          <!-- Card Advance -->
          <div class="row match-height">
            <!-- Employee Task Card -->
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let dress of dressList">
              <div class="card card-employee-task">
                <div class="card-header">
                  <h4 class="card-title">{{ dress.name }}</h4>
                  <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i>
                </div>
                <div class="card-body">
                  <div class="employee-task d-flex justify-content-between align-items-center" *ngFor="let config of dress.configIdList">
                    <div class="media">
                      <div class="avatar mr-75">
                        <img src="assets/images/icons/ruler.svg" class="rounded" width="42" height="42" alt="Avatar" />
                      </div>
                      <div class="media-body my-auto">
                        <h6 class="mb-0">{{ config.name }}</h6>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <small class="mr-75">{{ config.unit }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Employee Task Card -->
            <!-- Payment Card -->
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card card-payment">
                <div class="card-header">
                  <h4 class="card-title">Add New Dress</h4>
                </div>
                <div class="card-body">
                  <form [formGroup]="dressForm" class="form form-vertical" (ngSubmit)="addDress()">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group mb-2">
                          <label for="payment-card-number">Dress Name</label>
                          <input type="text" id="payment-card-number" name="name" formControlName="name" class="form-control" placeholder="Kurti" [ngClass]="{ 'is-invalid': DSubmitted && DControls.name.errors }" />
                          <div *ngIf="DSubmitted && DControls.name.errors" class="text-danger">
                            <div *ngIf="DControls.name.errors.required">name is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group mb-2"></div>
                      </div>
                      <div class="col-12">
                        <div class="form-group mb-2">
                          <label for="configIdList">Measurement</label>
                          <ng-select [multiple]="true" [items]="measurementTempList" (change)="onConfigIdListChange($event)" formArrayName="configIdList" bindLabel="name" bindValue="configId" [ngClass]="{ 'error': DSubmitted && DControls.configIdList.errors }">
                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                              <span class="ng-value-label"> {{ item.name }}</span>
                              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </ng-template>
                          </ng-select>
                          <div *ngIf="DSubmitted && DControls.configIdList.errors" class="text-danger">
                            <div *ngIf="DControls.configIdList.errors.required">Measurement is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary btn-block" rippleEffect>Add</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--/ Payment Card -->
          </div>
          <!--/ Card Advance -->
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Measurement</a>
    <ng-template ngbNavContent>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <app-content-header [contentHeader]="contentHeader"></app-content-header>
          <div class="row match-height">
            <!-- Measurement List Card -->
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card card-employee-task">
                <div class="card-body">
                  <div class="employee-task justify-content-between align-items-center">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let measurementConfig of measurementTempList">
                        <span> {{ measurementConfig.name }}</span>
                        <span class="badge badge-primary badge-pill">{{ measurementConfig.unit }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Measurement List Card -->
            <!-- Measurement Add Card -->
            <div class="col-lg-4 col-md-6 col-12">
              <div class="card card-payment">
                <div class="card-header">
                  <h4 class="card-title">Add Measurement</h4>
                </div>
                <div class="card-body">
                  <form [formGroup]="measurementConfigForm" class="form form-vertical" (ngSubmit)="addMeasurementConfig()">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group mb-2">
                          <label for="payment-card-number">Measurement Name</label>
                          <input type="text" name="name" formControlName="name" class="form-control" placeholder="Length" [ngClass]="{ 'is-invalid': mCSubmitted && mControls.name.errors }" />
                          <div *ngIf="mCSubmitted && mControls.name.errors" class="text-danger">
                            <div *ngIf="mControls.name.errors.required">name is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-12">
                        <div class="form-group mb-2">
                          <label for="payment-cvv">Unit</label>
                          <input type="text" name="unit" formControlName="unit" class="form-control disable" placeholder="Cm" [ngClass]="{ 'is-invalid': mCSubmitted && mControls.unit.errors }" />
                          <div *ngIf="mCSubmitted && mControls.unit.errors" class="text-danger">
                            <div *ngIf="mControls.unit.errors.required">unit is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-12">
                        <div class="form-group mb-2">
                          <label for="payment-expiry" class="mb-1">Has Unit</label>
                          <label class="m-switch">
                            <input id="payment-expiry" name="isUnit" formControlName="isUnit" class="m-toggle form-control" type="checkbox" />
                            <span class="m-slider"></span>
                            <span class="m-card-side"></span>
                          </label>
                          <!-- <input type="number" id="payment-expiry" class="form-control" placeholder="" /> -->
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary btn-block" rippleEffect>Add Measurement</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--/ Measurement Add Card -->
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="navFilled" class="mt-2"></div>
